html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--mantine-color-body);
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
}

@media (orientation: landscape) and (max-height: 480px) {
  .app-content {
    visibility: hidden;
  }

  .rotate-device-overlay {
    display: flex !important;
  }
}
